# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# uploads
/uploads/**/*jpeg
/uploads/**/*jpg
/uploads/**/*png
/uploads/**/*pdf

!/uploads/books-imgs/the-great-gatsby.jpeg
!/uploads/books-imgs/sapiens-a-brief-history-of-humankind.jpeg
!/uploads/books-imgs/to-kill-a-mockingbird.jpeg
!/uploads/books-imgs/1984.jpeg
!/uploads/books-imgs/pride-and-prejudice.jpeg

!/uploads/books-pdfs/the-great-gatsby.jpeg

!/uploads/users-imgs/user1.jpeg
!/uploads/users-imgs/user2.jpeg

!/uploads/categories-imgs/action.jpeg
!/uploads/categories-imgs/biography.jpeg
!/uploads/categories-imgs/fiction.jpeg
!/uploads/categories-imgs/non-fiction.jpeg
!/uploads/categories-imgs/science-fiction.jpeg
!/uploads/categories-imgs/mystery.jpeg